#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.taskcard{
  color: black;
  background-color: #d8d5d5;
  width: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.read-the-docs {
  color: #888;
}
